<form action="">
  <div>
    <input
      [(ngModel)]="userInfo.nombre"
      name="nombre"
      placeholder="Name"
      type="text"
    />
  </div>
  <div>
    <input
      [(ngModel)]="userInfo.email"
      name="email"
      placeholder="Email"
      type="email"
    />
  </div>
  <div>
    <label for="">Gender</label>
    <select [(ngModel)]="userInfo.genero" name="genero" id="">
      <option value="Masculino">M</option>
      <option value="Femenino">F</option>
    </select>
  </div>
  <div>
    <textarea
      [(ngModel)]="userInfo.coment"
      placeholder="Coment"
      name="coment"
      id=""
      cols="20"
      rows="5"
    ></textarea>
  </div>
  <div>
    <div>
      <label for="">Do you like my website?</label>
    </div>
    <input
      [(ngModel)]="userInfo.website"
      id="Yes"
      name="website"
      type="radio"
      value="Yes"
    />
    <label for="Yes">Yes</label><br />
    <input
      [(ngModel)]="userInfo.website"
      id="No"
      name="website"
      type="radio"
      value="No"
    />
    <label for="No">No</label><br />
  </div>
  <button (click)="sendForm()">Enviar</button>
</form>
