.c-digimons-list {
  &__item{
    border: 4px solid #333;
    background-color: rgba(51, 51, 51, 0.10);
    padding: 24px;
    margin-bottom: 24px;
  }
  &__item:hover{
    cursor: pointer;

  }
  &__img {
    width: 100%;
    mix-blend-mode: darken;
  }
  &__title {
    color: #ffffff;
    background-color: #333333;
    font-size: 24px;
    padding: 10px;
    font-family: "Arial Black";
    text-align: center;
  }
  &__text {
    color: #333;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
  }
}