<div class="c-digimons-list">
  <div class="row ">
    <div class="col-4" *ngFor="let digimon of digimonList">
      <div class="c-digimons-list__item" [routerLink]="['/digimon/', digimon.name]">
       
        <img class="c-digimons-list__img" src="{{digimon.img}}">
        <h3 class="c-digimons-list__title">{{digimon.name}}</h3>
        <p class="c-digimons-list__text">{{digimon.level}}</p>

        <p-button label="Click" ></p-button>
         
      </div>
    </div>
  </div>
</div>
