<p-table [value]="digimonTable">
    <ng-template pTemplate="header">
        <tr>
            <th>IMG</th>
            <th>Name</th>
            <th>Level</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-digimons>
        <tr>
            <td><img src="{{digimons.img}}"></td>
            <td>{{digimons.name}}</td>
            <td>{{digimons.level}}</td>
        </tr>
    </ng-template>
</p-table>
