<div class="container">
  <button (click)="flagShowGallery = !flagShowGallery">{{flagShowGallery ? 'Show table' : 'Show gallery'}}</button>
  
  <app-digimons-list *ngIf="flagShowGallery" [digimonList]="digimons"></app-digimons-list>
  <app-digimons-table *ngIf="!flagShowGallery" [digimonTable]="digimons"></app-digimons-table>
</div>